[submodule "android_kernel_docker"]
	path = android_kernel_docker
	url = https://github.com/cyberknight777/android_kernel_docker.git
[submodule "android_kernel_nethunter"]
	path = android_kernel_nethunter
	url = https://github.com/akabul0us/android_kernel_nethunter.git
[submodule "drivers/net/wireless/mediatek/mt76"]
	path = drivers/net/wireless/mediatek/mt76
	url = https://github.com/akabul0us/mt76.git
[submodule "kali-nethunter-kernel-builder"]
	path = kali-nethunter-kernel-builder
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernel-builder.git
