[submodule "drivers/net/wireless/mediatek/mt76"]
	path = drivers/net/wireless/mediatek/mt76
	url = https://github.com/akabul0us/mt76
[submodule "drivers/net/wireless/realtek/rtl8188fu"]
	path = drivers/net/wireless/realtek/rtl8188fu
	url = https://github.com/akabul0us/rtl8188fu
[submodule "drivers/net/wireless/realtek/rtl8812au"]
	path = drivers/net/wireless/realtek/rtl8812au
	url = https://github.com/akabul0us/rtl8812au
[submodule "drivers/net/wireless/realtek/rtl8188eus"]
	path = drivers/net/wireless/realtek/rtl8188eus
	url = https://github.com/aircrack-ng/rtl8188eus.git
[submodule "android_kernel_docker"]
	path = android_kernel_docker
	url = https://github.com/cyberknight777/android_kernel_docker
[submodule "drivers/net/wireless/realtek/rtl88x2bu"]
	path = drivers/net/wireless/realtek/rtl88x2bu
	url = https://github.com/akabul0us/rtl88x2bu
[submodule "android_kernel_nethunter"]
	path = android_kernel_nethunter
	url = https://github.com/cyberknight777/android_kernel_nethunter.git
